body {
  overflow-x:hidden;
}

#wrapper {
  padding-left:0;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

#wrapper.toggled {
  padding-left:350px;
}

#sidebar-wrapper {
  overflow:hidden;
  z-index:1000;
  position:fixed;
  left:350px;
  width:0;
  height:100%;
  max-height: 100%;
  overflow-y: scroll;
  margin-left:-350px;
  background:rgba(255,255,255,0.05);
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width:350px;
}

#page-content-wrapper {
  width:100%;
  position:absolute;
  padding:15px;
}

#wrapper.toggled #page-content-wrapper {
  position:absolute;
  margin-right:-350px;
}

.sidebar-nav {
  position:absolute;
  top:0;
  width:350px;
  margin:0;
  padding:0;
  list-style:none;
}

@media (min-width:768px) {
  #wrapper {
    padding-left:350px;
  }
}

@media (min-width:768px) {
  #wrapper.toggled {
    padding-left:0;
  }
}

@media (min-width:768px) {
  #sidebar-wrapper {
    height:100%;
    width:350px;
  }
}

@media (min-width:768px) {
  #wrapper.toggled #sidebar-wrapper {
    width:0;
  }
}

@media (min-width:768px) {
  #page-content-wrapper {
    padding:20px;
    position:relative;
  }
}

@media (min-width:768px) {
  #wrapper.toggled #page-content-wrapper {
    position:relative;
    margin-right:0;
  }
}


.nav-bar-heading {
  text-transform:uppercase;
  font-size:14px;
  letter-spacing:2px;
  text-align:left;
  opacity:0.5;
  padding:0;
  margin:0;
}

.navigation-bar {
  padding:30px;
}

.nav-bar-main {
  padding-top:0px;
  display:inline;
  list-style-type:none;
}

a {
  color:#fff;
  text-decoration:none;
}

.nav-bar-main a {
  border-left:5px solid none;
  /*margin:10px;*/
  text-decoration:none;
  color:rgba(255,255,255,0.7);
  letter-spacing:1px;
  font-size:18px;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.nav-bar-main a:hover {
  color:#fff;
}

.active {
  padding-bottom:5px;
  border-bottom:2px solid #2cb5e8;
  color:#2cb5e8;
}

.nav-bar-main a {
  padding-left:15px;
}

.nav-bar-main li {
  padding-top:10px;
}

.nav-bar-main-dropdown {
  display:block;
  list-style-type:none;
}

.nav-bar-main-dropdown .glyphicon.glyphicon-chevron-right {
  opacity:0.3;
  font-weight:100;
  padding-right:10px;
}

.nav-bar-dropdown {
  padding-bottom:0;
  margin-bottom:0;
}

.nav-top-bar {
  margin-bottom:20px;
  border-bottom:4px solid rgba(255,255,255,.05);
  background:rgba(255,255,255,.1);
  padding:30px;
}

.nav-top-bar-header {
  text-align:left;
}

.nav-top-bar-para {
  letter-spacing:1px;
  color:#fff;
  opacity:.3;
}
