
<h1 class="nav-bar-heading">main menu</h1>
<ul class="nav-bar-main">

<% if(active == "Appointments") {
    %>
    <li class="active"> <a href="/main/dashboard/false">Appointments </a></li>
    <%
  } else {
    %>
    <li> <a href="/main/dashboard/false">Appointments </a></li>
    <%
  }

  %>
  <li> <a id="bookings" href="#">Booking </a></li>
  <%

  if(active == "My Children") {
      %>
      <li class="active"> <a href="/main/children">My Children </a></li>
      <%
  } else {
      %>
      <li> <a href="/main/children">My Children </a></li>
      <%
  }

  if(active == "My Tickets") {
      %>
      <li class="active"> <a href="/main/tickets/false">My Tickets </a></li>
      <%
  } else {
      %>
      <li> <a href="/main/tickets/false">My Tickets </a></li>
      <%
  }

  if(active == "My Account") {
      %>
      <li class="active"> <a href="/main/account">My Account </a></li>
      <%
  } else {
      %>
      <li> <a href="/main/account">My Account </a></li>
      <%
  }
        %>
        <li> <a id="logout" href="/main/logout">Logout </a></li>
        <%
%>

</ul>
